<div class="container-sm mt-10">
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario" ng-model="newComentario.usuario">
  </div>
  <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="newComentario.comentario"></textarea>
  </div>
  <button class="btn btn-primary" ng-click="Agregar()">Agregar</button>

</div>

<div class="container-sm">
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comentario in cometarios">
            {{comentario.comentario }}- <strong> {{comentario.usuario }}</strong>
            <br>
        </li>
    </ul>
</div>

