<div class="container-sm mt-10">
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario" ng-model="newComentario.usuario">
  </div>
  <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="newComentario.comentario"></textarea>
  </div>
  <button class="btn btn-primary" ng-click="Agregar()">Agregar</button>

</div>

<div class="container-sm">
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comentario in cometarios">
            {{comentario.comentario }}- <strong> {{comentario.usuario }}</strong>
            <br>
        </li>
    </ul>
</div>
<h3 style="text-align: center;">LISTA DE ALUMNOS TITULADOS</h3>
<br> 
<div class="row" style="display: flex;        
justify-content: center;">
       
    <table class="table table-striped">

      <thead>
        <tr>
          <th>#</th>
          <th>Mátricula</th>
          <th>Nombre</th>
          <th>Fecha de Nacimiento</th>
          <th>Correo electrónico</th>
          <th>Estátus</th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="Heroe in heroes | limitTo:pagina | limitTo:-15">    
          <td>{{Heroe.idAlumnoTitulo}}</td>
          <td>{{Heroe.matricula}}</td>
          <td>{{Heroe.nombre }} {{Heroe.primerApellido}} {{Heroe.segundoApellido}}</td>
          <td>{{Heroe.fechaNacimiento}}</td>
          <td>{{Heroe.correoElectronico}}</td>
          <td>{{Heroe.estatusAlumno}} </td>
        </tr>     
      </tbody>
    </table>
    <br>
    
    <button type="button" style="width: 10%; margin: 10px;" class="btn btn-primary" ng-click="anterior()">Anterior</button>
    <button type="button" style="width: 10%; margin: 10px;" class="btn btn-secondary" ng-click="siguiente()">Siguiente</button>
</div>
    