
    
    <div class="container-sm">
        {{name}}
        <form  width="50%">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">Actividad</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Agrega la actividad" ng-model="activity.actividad">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="exampleFormControlTextarea1" placeholder="Agrega la fecha" ng-model="activity.fecha"></input>
                
            </div>
            <div class="form-group mt-1">
                <button class="btn btn-primary" ng-click="AddActivity()">Agregar</button>

            </div>
            
       </form>     

    </div>

    <div class="container-sm">
        <h3>Actividades</h3>
        <ul>
            <li ng-repeat="list in lista">
                {{list.actividad }} - <strong> {{list.fecha | date:'MM/dd/yyyy'}}</strong>
                <br>
            </li>
        </ul>
    </div>
